name: MinTic Deploy to AWS CloudFormation

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: MinTic Checkout and download repository
      uses: actions/checkout@v3

    - name: MinTic Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: MinTic Deploy CloudFormation stack
      run: |
        aws cloudformation deploy \
          --template-file template.yml \
          --stack-name MiPrimerStackConGITHUB

    - name: Check if S3 bucket exists
      id: check-bucket
      run: |
        if aws s3 ls s3://mintic-bucket-680578888516-us-east-1 2>/dev/null; then
          echo "exists=true" >> $GITHUB_OUTPUT
          echo "El bucket ya existe, omitiendo creación"
        else
          echo "exists=false" >> $GITHUB_OUTPUT
          echo "El bucket no existe, se procederá a crear"
        fi

    - name: Deploy S3
      if: steps.check-bucket.outputs.exists == 'false'
      run: aws cloudformation deploy --template-file templates/s3.yml --stack-name MinTicS3

    - name: Deploy EC2 Web (S3 App)
      run: |
        aws cloudformation deploy \
          --template-file templates/ec2-web.yml \
          --stack-name MinTicEC2WebStack \
          --capabilities CAPABILITY_IAM
        
        echo "Obteniendo IP pública de la instancia..."
        aws cloudformation describe-stacks \
          --stack-name MinTicEC2WebStack \
          --query "Stacks[0].Outputs[?OutputKey=='PublicIP'].OutputValue" \
          --output text